*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
video{
    min-width: 50%;
    min-height: 50vh;
    
    object-fit: cover;
}

.notes{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.notes h3{
    font-size: 25px;
    color: red;
}

.content{
    position: absolute;
    
}
